body{
    background-color: beige;
    font-family: cursive;
    font-size: larger;
    margin-left: 50px;
}
h1 {color: rgb(123, 6, 6);}

.test1{
    background-color: hsl(28, 66%, 77%); 
    padding: 25px; 
    margin: 30px; 
    border-radius: 10px;"
}

h2{
    font-size: 50px;
}

h3{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.test1 {
    box-shadow: 12px 12px 2px 1px rgb(126, 81, 2);
}
