body{
    background-color: beige;
    font-family: cursive;
    font-size: larger;
    margin-left: 50px;
}
h1 {color: rgb(123, 6, 6);}

.test1{
    background-color: hsl(28, 66%, 77%); 
    padding: 25px; 
    margin: 30px; 
    border-radius: 10px;"
}

